body {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size:12pt;
    background-color: #ffffff; 
    width:580px;
    margin:auto;
}

* {
    box-sizing: border-box;
}

#submit {
    margin: 20px;
}

.question {
    margin: 20px 0 0 0;
}
.answer {
    margin: 5px;
}

.answer input {
    margin: 0px 15px;
}

#inputInfo {
    margin: 20px;
}
#inputInfo input {
    width:100%;
}
img {
    object-fit: cover;
}
.modal-body {
      /* border: 2px solid red; */
      float: left;
      margin:30px;
}

#warning {
  color: white;
  background-color: red;  
  font-size: 14pt; 
}